---
const platform = "GitHub";
const username = "d3rp3tt3";
const linkedintext = "LinkedIn";
const linkedinname = "jenn-a-allen";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>View my <a href={`https://www.linkedin.com/in/${linkedinname}`}>{linkedintext}</a></p>
</footer>
